<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="basic.css">
</head>
<body>
    <img src="/images/gsynclogo.png" alt="G-Sync">
    <br>
    <div >
        <a href="/student" id="stud"> Student </a>
    </div>
    <div >  
          <a href="/login" id="dri"> Driver </a>
    </div>

</body>
</html>