<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        iframe {
            position: fixed;
            top: -100px;
            left: 0;
            bottom:-200px;
            width: 100%;
            height: 100%;
            border: none; /* Remove the border */
        }
        *{
            background-color:rgb(18, 11, 72);
            color:beige;
        }
    </style>
</head>
<body>
    <h2>You are Driver</h2>
    <iframe src="https://locshare.netlify.app/" frameborder="0"  width="100%" height="100%" allow="accelerometer; autoplay; encrypted-media; gyroscope;geolocation; picture-in-picture" allowfullscreen></iframe>
</body>
</html>