<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> iframe {
        position: fixed;
        top: -100px;
        left: 0;
        width: 100%;
        height: 100%;
        border: none; /* Remove the border */
    }
    *{
        background-color:rgb(18, 11, 72);
        color:beige;
    }
</style>
</head>
<body>
    <h1>you have successfully logged In you are student</h1>
    <iframe src="https://locshare.netlify.app/location/s50xy" frameborder="0"  width="100%" height="100%" allow="accelerometer; autoplay; encrypted-media; gyroscope;geolocation; picture-in-picture" allowfullscreen></iframe>
</body>
</html>